body {
  font-family: sans-serif;
  padding: 20px;
}

#sketchCanvas {
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  display: block;
  margin-bottom: 20px;
}

.icon {
  width: 24px;
  vertical-align: middle;
}
